[submodule "UTNativeEssentials/Detours"]
	path = UTNativeEssentials/Detours
	url = https://github.com/microsoft/Detours
[submodule "UTNativeEssentials/MiscLibs/LinuxDetours"]
	path = UTNativeEssentials/MiscLibs/LinuxDetours
	url = https://github.com/ravimohan1991/LinuxDetours
